@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  overflow-x: hidden;
  margin: 0;
  background-color: bisque;
}
.product {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 18vh;
  border-radius: 10px;
  color: aquamarine;
  margin: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(200%);
  transition: transform 0.4s ease;
}
h1 {
  margin: 10px;
}
.product:nth-of-type(even) {
  transform: translateX(-200%);
}
.product.show {
  transform: translateX(0);
}
.product.h2 {
  font-size: 72pt;
}
