@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
body h1{
    font-family:fantasy;
    position:absolute;
    top: 1%;
}
*{
    box-sizing: border-box;
}

#hidden-button {
    z-index: 500;
background-image: url('home.png');
background-color: transparent;
background-repeat: no-repeat ;
background-position: center;
border: none;
background-size: 50px 50px;
padding: 20px;
position: absolute;
left:3vh;
top:3%;
}
#hidden-button:hover{
cursor: pointer;
transform: scale(1.2);
transition: transform .5s ease-in;
}
body {
    scale: 0.1;
    transform: scale(10.0);
    transition: transform 0.5s cubic-bezier(0, 1.62, 0.88, 0.7);
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container {
    display: flex;
    width: 90vw;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: antiquewhite;
    cursor: pointer;
    flex:0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size:24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.panel.active{
    flex: 5;
    
}
.panel.active h3{
    opacity: 1;

}
@media(max-width: 480px) {
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}
